.gitattributes
.gitlab-ci.yml
.gradle
.markdownlint.json
.npmignore
.prettierrc
.vscode/
build/
coverage/
custom-types/
examples/
gen-src/
gradle/
lib/test/
logs/
node_modules/
public/
src/*
test/
tmp/
build.gradle
dependencies.lock
gradle.properties
gradlew
gradlew.bat
package.config.js
settings.gradle
tsconfig.json
tslint.json
wallaby.js
yarn-error.log
yarn.lock

!src/messages/*
!src/preslayer/*
